<section class="ride-details">
  <header>
    <h2 class="ride-details-title">Ride n° <%= @ride.code %></h2>
  </header>
  <main>
    <div class="ride-details-from">Departure: <%= @ride.from %></div>
    <div class="ride-details-to">Destination: <%= @ride.to %></div>
    <div class="ride-details-state">State: <%= @ride.state %></div>
  </main>
<section>
